<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqmTwM7kX1LK1B_Tajmfs686vbzIrafyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>140243684196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmettunahanbekdas.Project-21--BasicsInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>basicsinstagramclone-7550f</string>
	<key>STORAGE_BUCKET</key>
	<string>basicsinstagramclone-7550f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140243684196:ios:f5803079d5178f26fb0871</string>
</dict>
</plist>